<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="css/media/logo.png">
    <link rel="stylesheet" href="css/geral.css">
    <link rel="stylesheet" href="css/buy.css">

    <!-- FONTE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    <!-- JavaSript -->    
    <script src="js/select.js"></script>
    <script src="js/hamburguer.js"></script>
    <title>Detalhes do Produto</title>
</head>

<body>
    <header>
        <div id="h-content">
            <div id="h-logos">
                <img id="h-icon" src="css/media/logo.png" alt="Logo">
                <img id="h-logotxt" src="css/media/logo escrita.png" alt="Ilha das True">
            </div>
            <div id="h-menu">
                <img id="menu" onclick="location.href='historico.html'" src="css/media/restore.png" >
                <img id="menu" onclick="window.location.href='https://www.instagram.com/ilhadastrue/'" src="css/media/instagram2.png" alt="Instagram">
                <a href="javascript:void(0);" onclick="Menu()">
                    <img id="menu2" src="css/media/hmbrgr.png" alt="hmburgr">
                </a>
            </div>
        </div>

        <div id="topicos">
            <a href="">Adidas</a>
            <a href="">Lacoste</a>
            <a href="">Nike</a>
            <a href="">Ver Mais</a>
        </div>
    </header>

    <div id="main-content">
        <button id="back" onclick="location.href='/'">Voltar para o Inicio</button>

        <div id="BuyContent">
            <div id="ImgContent">
                <% $urlCd = 0; %>
                <% url.forEach((urlImg)=> { $urlCd++; %>
                    <% if ($urlCd == 1){ %>
                        <img class="C-ImgBig" src="<%= urlImg %>" id="<%= $urlCd %>">
                    <% } else { %>
                        <img class="C-ImgBig" src="<%= urlImg %>" id="<%= $urlCd %>" hidden>
                    <% } %>
                <% }); %>
            </div>
            <div id="cdRoupa">
                <div id="content">
                    <p id="product"><%= data[0].nm_roupa %></p>
                    <h1>R$<%= data[0].vl_roupa %></h1>
                </div>
                <div id="content">
                    <p>Tamanho da peça</p>
                    <% size.forEach((tam)=> {%>
                        <button class="size"><%= tam %></button>
                    <% }); %>
                </div>
                <div id="content">
                    <p>Cor</p>
                    <% $i = 0;
                    color.forEach((cor)=> { $i++; %>
                        <button class="color" id="<%= $i %>"><%= cor %></button>
                    <% }); %>
                </div>
                <div id="content">
                    <p>Finalização</p>
                    <button class="Btn2" id="end">Finalizar Compra</button>
                    <p>Para sua segurança a compra sera finalizada pelo WhatsApp</p>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        Site desenvolvido por<a href="https://github.com/niButera">Nicolas Butera</a>e<a
            href="https://github.com/yukio-sato">Yukio Sato</a>
    </div>
</body>

</html>